<?xml version="1.0"?>
<launch>
  <arg name="image_view" default="false" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" >
      <rosparam command="load" file="$(find usb_cam)/config/usb_cam.yml"/>
  </node>
  
  <group if="$(arg view)">
    <node name="image_view" pkg="image_view" type="image_view" 
          respawn="false" output="screen">
      <remap from="image" to="/usb_cam/image_raw"/>
      <param name="autosize" value="true" />
    </node>
  </group>
</launch>

<!--参考にしたサイト-->
<!--(https://ma38su.hatenablog.com/entry/2021/06/23/121926)-->
